body {
    --note-icon-blank: url(/img/blank.svg);
    
    .content {

    max-width: 120ch; /* Adjust the value as needed */ 
    padding-left: 10ch;
    padding-right: 10ch;
    };
    
    body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="blank"]::before,
    body.filetree-note-icon .filename[data-note-icon="blank"]::before,
    body.links-note-icon .internal-link[data-note-icon="blank"]::before,
    body.backlinks-note-icon .backlink[data-note-icon="blank"]::before {
    background-image: url(/img/blank.svg);

    
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
